#login-mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    335deg,
    hsl(240deg 100% 20%) 0%,
    hsl(270deg 98% 28%) 42%,
    hsl(283deg 100% 35%) 100%
  );
}

#login-username {
  width: 98%;
  height: 30px;
  border-radius: 5px;

  background-color: #f2ffff;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
}
#login-password {
  width: 98%;
  height: 30px;
  border-radius: 5px;

  background-color: #f2ffff;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
}

.login-button {
  width: 50%;
  height: 30px;
  border-radius: 5px;

  background-color: rgb(24, 24, 24);
  color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  background: rgba(201, 200, 200, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(126, 108, 108, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: 0.3s ease-in-out;
}
.login-button2 {
  width: 50%;
  height: 30px;
  border-radius: 5px;

  background-color: rgb(24, 24, 24);
  color: #f0f0f0;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  background: rgba(201, 200, 200, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(126, 108, 108, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  transition: 0.3s ease-in-out;
}

.login-button:hover {
  background-color: #858585;
  transform: scale(1.05);
}
.login-button2:hover {
  background-color: #858585;
  transform: scale(1.05);
}

.colum-main2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(95, 95, 95);
  background-color: rgb(14, 7, 19);
  height: 700px;
  width: 400px;
  min-width: 400px;
  box-shadow: 0px 0px 200px 30px #43556477;
  border-radius: 20px;
  margin-left: 150px;
}
.colum-main3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: 100%;
  width: 100%;
}
#login-inner {
  width: 70%;
  height: 40%;
  display: flex;
  flex-direction: column;
}

textarea:focus,
input:focus {
  outline: none;
}

#logo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*second part as windows container*/

#window-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(95, 95, 95);
  background-color: rgb(14, 7, 19);
  height: 700px;
  width: 80%;
  min-width: 400px;
  box-shadow: 0px 0px 200px 30px #5e778c7e;
  border-radius: 20px;

  max-width: 900px;
}

.window1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(95, 95, 95, 0);
  background-color: rgba(81, 77, 83, 0.116);
  height: 20%;
  width: 80%;
  min-width: 400px;
  box-shadow: 0px 0px 200px 30px #afafaf10;
  border-radius: 20px;
  margin-top: 40px;
  color: #f0f0f0;
  transition: 0.3s ease-in-out;
}
.window1:hover {
  background: rgba(144, 197, 218, 0.089);
  border-radius: 16px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(51, 51, 51, 0.08);
  transform: scale(1.08);
}

.window2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(95, 95, 95, 0);
  background-color: rgba(81, 77, 83, 0.116);
  height: 20%;
  width: 80%;
  min-width: 400px;
  box-shadow: 0px 0px 200px 3px #afafaf13;
  border-radius: 20px;
  margin-top: 40px;
  color: #f0f0f0;
  transition: 0.3s ease-in-out;
}
.window2:hover {
  background: rgba(144, 197, 218, 0.11);
  border-radius: 16px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(51, 51, 51, 0.08);
  transform: scale(1.08);
}

#h3L {
  margin-left: 30px;
}

.window3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid rgba(95, 95, 95, 0);
  background-color: rgba(81, 77, 83, 0.116);
  height: 20%;
  width: 80%;
  min-width: 400px;
  box-shadow: 0px 0px 200px 3px #afafaf17;
  border-radius: 20px;
  margin-top: 40px;
  color: #f0f0f0;
  transition: 0.3s ease-in-out;
}
.window3:hover {
  background: rgba(144, 197, 218, 0.075);
  border-radius: 16px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.637);
  backdrop-filter: blur(11.7px);
  -webkit-backdrop-filter: blur(11.7px);
  border: 1px solid rgba(51, 51, 51, 0.08);
  transform: scale(1.08);
}

#logo1 {
  width: 450px;
}

@media screen and (max-width: 1624px) {
  .window1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;

    height: 300px;
    min-width: 450px;
  }
  .window2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;

    height: 300px;
    min-width: 450px;
  }
  .window3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;

    height: 300px;
    min-width: 450px;
  }
  h3 {
    margin-left: 30px;
  }
  #login-mainContainer {
    flex-direction: column;
    height: 200vh;
  }
  .colum-main2 {
    width: 0%;
    height: 1000px;
    margin-left: 0px;
    margin-top: 0px;
  }
  #window-container {
    margin-top: 20px;
    height: 100%;
  }
  .login-button {
    margin-bottom: 2px;
  }

  #login-inner {
    height: 40%;
  }
}
